body{
font-family: 'Montserrat', sans-serif;
text-align: center;
}

h1, h2, h3{
  font-family: 'Montserrat-Black', sans-serif;
  line-height: 1.5;
    font-weight: 900;
      font-size: 4.5rem;
}

p{
  color: #8f8f8f;
}

#features{
  padding: 5% 10%;
  position: relative;
}

#pricing{
  padding: 100px;
    }

#cta{
  padding: 5% 0 5%;
}

#footer{
  margin-top: 5%;
}

.color1{
  background-color: #ff4c68;
  color: white;
}

.color2{
    background-color:  #ef8172;
    color: white;
}

.white{
  background-color: white;

}
.container-fluid{
padding: 3% 15% 7%;
}

.img1{
  width: 55%;
  transform: rotate(25deg);
  margin-left: 7.5rem;
  position: absolute;
}

/* navbar */

.navbar{
  padding-bottom: 4.5rem
}

.navbar-brand{
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}

.nav-link{
  font-family: "Montserrat-Light";
  margin-right: 65px;
  font-size: 1.5rem;
}

/* buttons */
.dlb{
  margin: 5% 3% 5% 0;
}
/* features */

.fi{
  font-size: 5rem;
  color: #ef8172;
  margin-bottom: 5px;
}

.fi:hover{
  color: #ff4c68;
}

.f3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.fp{
  color: #8f8f8f;
  padding: 1rem;
}


/* testimonials caracel image */

.ci{
  padding: 7% 15%;
}

.ti{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.text-center{
  padding: 0;
  margin: 0;
}

.card{
  padding: 0 10% 5%;
  line-height: 2rem;

}

.i{
  margin: 15px 20px;
}

#press img{
  margin: 1rem 1rem 5rem 1rem;
  width: 15%;

}

@media (max-width: 1028px ) {
  .img1{
    position: static;
    transform: none;
    text-align: center;
  }
  body{

  }
}
