body{

  margin: 0;
 text-align: center;
font-family: serif;
}

h1{
  margin: 0;
  position: absolute;
  top: 30px;
  right: 300px;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}

.TopCon{
    margin: 0;
    background-color:  #ff7171;
    height: 800px;
    width: 100%;

}

.PT{
  font-weight: normal;
  font-size: 2.5rem;
  position: absolute;
  top: 400px;
  left:400px;

}

hr{
  border-top:  5px dotted black;

  width: 5%;
}

h2{
  font-family: 'Montserrat', sans-serif;

}

h3{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}

.D1{

  float: left;
}

.middle-container{

}

.skills p {
   text-align: left;
   line-height: 2;
}
.skill-row{
  width: 50%;
  margin: 100px auto;

}

.bottom-container{


}

.footer-link{
  color: #11999e

}
